In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file = "districts-spending.csv"
districts_data_df = pd.read_csv(csv_file)
districts_data_df

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,76672,43843,23941,6401.0,1506
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,299880,164977,97231,19439.0,9749
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,10070,4907,3896,975.0,110
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,29843,15302,7901,2274.0,4133
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,31662,16407,11087,3122.0,486
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374156,Wyoming,NaN,UINTA CO SCH DIST 6,1992,6818,219,4239,2360,6675,3742,2079,NaN,305
374157,Wyoming,NaN,WASHAKIE SCH DIST 2,1992,1651,24,1050,577,1581,815,411,NaN,291
374158,Wyoming,NaN,WASHAKIE CO SCH DIST 1,1992,10243,403,6514,3326,10193,6038,2696,NaN,802
374159,Wyoming,NaN,WESTON CO SCH DIST 1,1992,6645,222,4132,2291,6692,3881,2043,NaN,460
374160,Wyoming,NaN,WESTON CO SCHOOL DIST 7,1992,6304,64,5201,1039,6754,1717,866,NaN,3886

In [6]:
twentysixteen_df = districts_data_df.loc[districts_data_df["YRDATA"] == 2016, :]
twentysixteen_df

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,76672,43843,23941,6401.0,1506
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,299880,164977,97231,19439.0,9749
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,10070,4907,3896,975.0,110
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,29843,15302,7901,2274.0,4133
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,31662,16407,11087,3122.0,486
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14320,Wyoming,697.0,UINTA CO SCH DIST 6,2016,13832,500,8471,4861,13441,6077,5600,400.0,1114
14321,Wyoming,106.0,WASHAKIE SCH DIST 2,2016,3726,258,2429,1039,3557,1931,1267,117.0,237
14322,Wyoming,1358.0,WASHAKIE CO SCH DIST 1,2016,25693,1594,17718,6381,25240,15097,7739,841.0,1245
14323,Wyoming,799.0,WESTON CO SCH DIST 1,2016,15935,999,9977,4959,16276,7688,5470,486.0,2390
14324,Wyoming,268.0,WESTON CO SCHOOL DIST 7,2016,6803,219,5125,1459,6670,3353,2594,342.0,381

In [30]:
reduced_df = twentysixteen_df.drop(columns=['TFEDREV', 'TSTREV', 'TLOCREV', 'TCURINST', 'TCURSSVC', 'TCURONON', 'TCAPOUT'])
reduced_df

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TOTALEXP,Profit/Loss,Profit Loss,PL
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,76672,4195,4195,4195
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,299880,38356,38356,38356
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,10070,46,46,46
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,29843,-3661,-3661,-3661
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,31662,824,824,824
...,...,...,...,...,...,...,...,...,...
14320,Wyoming,697.0,UINTA CO SCH DIST 6,2016,13832,13441,391,391,391
14321,Wyoming,106.0,WASHAKIE SCH DIST 2,2016,3726,3557,169,169,169
14322,Wyoming,1358.0,WASHAKIE CO SCH DIST 1,2016,25693,25240,453,453,453
14323,Wyoming,799.0,WESTON CO SCH DIST 1,2016,15935,16276,-341,-341,-341
14324,Wyoming,268.0,WESTON CO SCHOOL DIST 7,2016,6803,6670,133,133,133

In [28]:
PL = reduced_df['TOTALREV'] - reduced_df['TOTALEXP']
reduced_df['PL'] = PL
reduced_df

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT,Profit Loss,PL
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,76672,43843,23941,6401.0,1506,4195,4195
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,299880,164977,97231,19439.0,9749,38356,38356
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,10070,4907,3896,975.0,110,46,46
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,29843,15302,7901,2274.0,4133,-3661,-3661
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,31662,16407,11087,3122.0,486,824,824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14320,Wyoming,697.0,UINTA CO SCH DIST 6,2016,13832,500,8471,4861,13441,6077,5600,400.0,1114,391,391
14321,Wyoming,106.0,WASHAKIE SCH DIST 2,2016,3726,258,2429,1039,3557,1931,1267,117.0,237,169,169
14322,Wyoming,1358.0,WASHAKIE CO SCH DIST 1,2016,25693,1594,17718,6381,25240,15097,7739,841.0,1245,453,453
14323,Wyoming,799.0,WESTON CO SCH DIST 1,2016,15935,999,9977,4959,16276,7688,5470,486.0,2390,-341,-341
14324,Wyoming,268.0,WESTON CO SCHOOL DIST 7,2016,6803,219,5125,1459,6670,3353,2594,342.0,381,133,133

In [31]:
final_df = reduced_df.drop(columns=['Profit/Loss', 'PL'])
final_df

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TOTALEXP,Profit Loss
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,76672,4195
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,299880,38356
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,10070,46
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,29843,-3661
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,31662,824
...,...,...,...,...,...,...,...
14320,Wyoming,697.0,UINTA CO SCH DIST 6,2016,13832,13441,391
14321,Wyoming,106.0,WASHAKIE SCH DIST 2,2016,3726,3557,169
14322,Wyoming,1358.0,WASHAKIE CO SCH DIST 1,2016,25693,25240,453
14323,Wyoming,799.0,WESTON CO SCH DIST 1,2016,15935,16276,-341
14324,Wyoming,268.0,WESTON CO SCHOOL DIST 7,2016,6803,6670,133

In [36]:
df_group = final_df.groupby(["STATE"])
avg_df = df_group.mean()
avg_df

,ENROLL,YRDATA,TOTALREV,TOTALEXP,Profit Loss
STATE,,,,,
Alabama,5441.866667,2016.0,5.554494e+04,5.710256e+04,-1557.614815
Alaska,2453.277778,2016.0,4.619798e+04,4.857433e+04,-2376.351852
Arizona,3975.737288,2016.0,3.602981e+04,3.384327e+04,2186.538136
Arkansas,1924.405622,2016.0,2.169083e+04,2.182407e+04,-133.240964
California,5915.348240,2016.0,8.488798e+04,8.117996e+04,3708.019981
Colorado,4470.446701,2016.0,5.138716e+04,5.014479e+04,1242.370558
Connecticut,2870.655172,2016.0,6.563030e+04,6.222087e+04,3409.436782
Delaware,6380.263158,2016.0,1.075567e+05,1.074712e+05,85.526316
District of Columbia,48336.000000,2016.0,1.329719e+06,1.322563e+06,7156.000000
Florida,41446.761194,2016.0,4.197850e+05,4.170913e+05,2693.761194
Georgia,8811.658163,2016.0,9.899721e+04,9.774688e+04,1250.331633
Hawaii,181995.000000,2016.0,3.030519e+06,2.733094e+06,297425.000000
Idaho,2369.387931,2016.0,1.953871e+04,1.811190e+04,1426.810345
Illinois,2061.641624,2016.0,3.341011e+04,3.354035e+04,-130.239594
Indiana,3203.501597,2016.0,4.067783e+04,3.685395e+04,3823.878594
Iowa,1472.504348,2016.0,2.005646e+04,2.020989e+04,-153.434783
Kansas,1732.674825,2016.0,2.122225e+04,2.145048e+04,-228.227273
Kentucky,3967.861272,2016.0,4.477415e+04,4.500740e+04,-233.254335
Louisiana,9573.347826,2016.0,1.216976e+05,1.195458e+05,2151.826087
Maine,694.513514,2016.0,1.098607e+04,1.044827e+04,537.791506
Maryland,36633.166667,2016.0,6.003884e+05,5.830080e+05,17380.416667
Massachusetts,2878.215625,2016.0,5.463970e+04,5.324338e+04,1396.325000
Michigan,2229.904841,2016.0,3.241413e+04,3.005250e+04,2361.629382
Minnesota,2069.278061,2016.0,3.108708e+04,3.277792e+04,-1690.844388
Mississippi,3376.701389,2016.0,3.302360e+04,3.216219e+04,861.409722
Missouri,1721.146718,2016.0,2.102940e+04,2.069475e+04,334.650579
Montana,338.554779,2016.0,4.197923e+03,4.381793e+03,-183.869464
Nebraska,1204.358779,2016.0,1.678935e+04,1.771153e+04,-922.179389
Nevada,25977.823529,2016.0,2.636992e+05,2.573088e+05,6390.411765
New Hampshire,1020.920455,2016.0,1.790041e+04,1.775442e+04,145.994318
New Jersey,2336.426370,2016.0,5.139155e+04,5.079705e+04,594.503425
New Mexico,3593.943820,2016.0,4.230415e+04,4.190334e+04,400.808989
New York,3799.039589,2016.0,9.811241e+04,1.001203e+05,-2007.866569
North Carolina,12713.356522,2016.0,1.169395e+05,1.235425e+05,-6602.991304
North Dakota,523.594203,2016.0,8.641300e+03,9.486135e+03,-844.835749
Ohio,2240.202247,2016.0,3.337996e+04,3.279848e+04,581.478933
Oklahoma,1293.801923,2016.0,1.173794e+04,1.189260e+04,-154.661538
Oregon,2658.574074,2016.0,3.434285e+04,3.473127e+04,-388.421296
Pennsylvania,2643.013445,2016.0,5.223074e+04,5.197509e+04,255.650420
Rhode Island,3346.400000,2016.0,6.003853e+04,5.896635e+04,1072.175000
South Carolina,8351.910112,2016.0,1.029401e+05,1.032281e+05,-288.000000
South Dakota,893.633333,2016.0,9.704913e+03,9.839093e+03,-134.180000
Tennessee,7037.077465,2016.0,6.750233e+04,6.817262e+04,-670.288732
Texas,4831.062141,2016.0,5.572099e+04,5.670639e+04,-985.400574
Utah,14151.585366,2016.0,1.208030e+05,1.200892e+05,713.804878
Vermont,278.398734,2016.0,6.684699e+03,6.590810e+03,93.889241
Virginia,9650.323308,2016.0,1.222502e+05,1.240415e+05,-1791.323308
Washington,3565.700658,2016.0,4.922488e+04,5.017532e+04,-950.434211
West Virginia,4393.079365,2016.0,5.383459e+04,5.343756e+04,397.031746
Wisconsin,2013.464789,2016.0,2.745884e+04,2.767027e+04,-211.429577
Wyoming,1968.979167,2016.0,4.259727e+04,4.237977e+04,217.500000

In [38]:
avg_df.to_csv('StatesPL.csv', index = True, header=True)