In [5]:
#Dependencies
%matplotlib inline
from matplotlib import style
from IPython.display import display, HTML
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
#Input Paths
filename1 = "data_2010.csv"
filename2 = "data_2012.csv"
filename3 = "data_2014.csv"
filename4 = "data_2016.csv"

In [7]:
#Import
df1 = pd.read_csv(filename1, header=0, index_col=0)
df2 = pd.read_csv(filename2, header=0, index_col=0)
df3 = pd.read_csv(filename3, header=0, index_col=0)
df4 = pd.read_csv(filename4, header=0, index_col=0)

In [8]:

df1.head()

,Percent of High School Graduates Going Directly to College (%),High School Graduates - 2010,First-Time Freshmen Directly from High School Enrolled Anywhere in the US - Fall 2010
Alabama,63.2,48443,30616
Alaska,46.4,8434,3915
Arizona,57.9,63900,37006
Arkansas,65.4,29606,19348
California,61.7,440243,271669

In [9]:
df2.head()

,Percent of High School Graduates Going Directly to College (%),High School Graduates - 2012,First-Time Freshmen Directly from High School Enrolled Anywhere in the US - Fall 2012
Alabama,59.1,50263,29704
Alaska,45.9,8159,3747
Arizona,53.5,65977,35265
Arkansas,67.8,29807,20206
California,58.4,453078,264798

In [10]:
df3.head()

,Percent of High School Graduates Going Directly to College (%),High School Graduates - 2014,First-Time Freshmen Directly from High School Enrolled Anywhere in the US - Fall 2014
Alabama,62.1,49242,30583
Alaska,44.0,7964,3507
Arizona,52.3,68060,35598
Arkansas,63.5,30947,19644
California,60.9,449202,273635

In [11]:
df4.head()

,Percent of High School Graduates Going Directly to College (%),High School Graduates - 2016,First-Time Freshmen Directly from High School Enrolled Anywhere in the US - Fall 2016
Alabama,66.4,49386,32787
Alaska,43.8,7589,3322
Arizona,53.7,67549,36305
Arkansas,62.6,31144,19505
California,63.2,434112,274294