In [4]:
import pandas as pd

csv_file = "statesfinancial.csv"
statesfinancial_df = pd.read_csv(csv_file)
statesfinancial_df

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,2010_ALABAMA,ALABAMA,2010,748889,7281058,1134111,3800128,2346819,7647571,3900492,...,59117,57992,49719,467768,221940,755552,NaN,NaN,NaN,NaN
1,2010_ALASKA,ALASKA,2010,131265,2230338,366970,1356673,506695,2371251,1151630,...,9917,9622,9643,78880,40114,132104,NaN,NaN,NaN,NaN
2,2010_ARIZONA,ARIZONA,2010,963517,8828122,1579806,3139588,4108728,8812967,4223152,...,82862,80636,81326,660440,319747,1071751,NaN,NaN,NaN,NaN
3,2010_ARKANSAS,ARKANSAS,2010,474897,5069272,787738,3677112,604422,5520387,2521528,...,36873,36237,30330,293680,136156,482114,NaN,NaN,NaN,NaN
4,2010_CALIFORNIA,CALIFORNIA,2010,6213958,67356719,9715980,34173911,23466828,71227111,34657275,...,463691,476639,492545,3749960,1993538,6289578,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2016_VIRGINIA,VIRGINIA,2016,1283493,16259274,1058146,6297587,8903541,16497520,8944614,...,99258,95234,90500,773615,389330,1287026,NaN,NaN,NaN,NaN
200,2016_WASHINGTON,WASHINGTON,2016,1083973,14964364,1097684,9211201,4655479,15253296,7087365,...,86114,81039,90645,667327,339349,1101711,NaN,NaN,NaN,NaN
201,2016_WEST_VIRGINIA,WEST_VIRGINIA,2016,276764,3391579,358068,1863062,1170449,3366566,1804235,...,20324,19931,18155,159595,79442,273855,NaN,NaN,NaN,NaN
202,2016_WISCONSIN,WISCONSIN,2016,857736,11697466,782610,5986763,4928093,11787535,5760418,...,62408,61432,66303,488983,262681,864432,NaN,NaN,NaN,NaN
203,2016_WYOMING,WYOMING,2016,94511,2044669,123012,1175899,745758,2034229,921494,...,7642,7135,6262,58998,26924,94170,NaN,NaN,NaN,NaN

In [13]:
states_financial_clean = statesfinancial_df.drop(columns=['AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE' , 'AVG_READING_4_SCORE' , 'AVG_READING_8_SCORE', 'GRADES_PK_G', 'GRADES_1_8_G' , 'GRADES_KG_G' , 'GRADES_4_G' , 'GRADES_8_G' , 'GRADES_12_G' , 'GRADES_9_12_G' , 'GRADES_ALL_G'
                                 , 'LOCAL_REVENUE' , 'SUPPORT_SERVICES_EXPENDITURE' , 'OTHER_EXPENDITURE' , 'CAPITAL_OUTLAY_EXPENDITURE', 'PRIMARY_KEY'
            ])
states_financial_clean

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE
0,ALABAMA,2010,748889,7281058,1134111,3800128,7647571,3900492
1,ALASKA,2010,131265,2230338,366970,1356673,2371251,1151630
2,ARIZONA,2010,963517,8828122,1579806,3139588,8812967,4223152
3,ARKANSAS,2010,474897,5069272,787738,3677112,5520387,2521528
4,CALIFORNIA,2010,6213958,67356719,9715980,34173911,71227111,34657275
...,...,...,...,...,...,...,...,...
199,VIRGINIA,2016,1283493,16259274,1058146,6297587,16497520,8944614
200,WASHINGTON,2016,1083973,14964364,1097684,9211201,15253296,7087365
201,WEST_VIRGINIA,2016,276764,3391579,358068,1863062,3366566,1804235
202,WISCONSIN,2016,857736,11697466,782610,5986763,11787535,5760418
203,WYOMING,2016,94511,2044669,123012,1175899,2034229,921494

In [32]:
filteredstates = states_financial_clean.loc[states_financial_clean["YEAR"] == 2016, :]
filteredstates

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,Year
153,ALABAMA,2016,734652,7498567,797631,4097696,7708845,3865453,2016
154,ALASKA,2016,132477,2494691,307320,1613675,2623014,1251738,2016
155,ARIZONA,2016,938274,8503034,1160908,3440726,7987011,3872250,2016
156,ARKANSAS,2016,479177,5401016,593656,4122377,5434193,2658253,2016
157,CALIFORNIA,2016,6217031,89217262,7709079,50904567,85320133,42587272,2016
158,COLORADO,2016,880678,10123271,713914,4365019,9878524,4786838,2016
159,CONNECTICUT,2016,499494,11419673,468595,4411204,10826431,6110631,2016
160,DELAWARE,2016,121225,2043577,134412,1172219,2041952,1126775,2016
161,DISTRICT_OF_COLUMBIA,2016,48336,1329719,154922,0,1322563,594396,2016
162,FLORIDA,2016,2776933,28125598,3147329,10963807,27945116,15212112,2016
163,GEORGIA,2016,1727085,19403453,1807371,8771192,19158388,10534931,2016
164,HAWAII,2016,181995,3030519,261131,2710361,2733094,1468044,2016
165,IDAHO,2016,274849,2266490,240322,1454830,2100980,1171313,2016
166,ILLINOIS,2016,2030717,32908958,2331724,12053316,33037244,17804976,2016
167,INDIANA,2016,1002696,12732161,954837,7780711,11535287,5730602,2016
168,IOWA,2016,508014,6919477,464852,3583134,6972412,3447707,2016
169,KANSAS,2016,495545,6069563,453922,3949517,6134836,3006786,2016
170,KENTUCKY,2016,686440,7745928,880296,4269100,7786281,3917968,2016
171,LOUISIANA,2016,660561,8397136,1021465,3480353,8248660,4095916,2016
172,MAINE,2016,179879,2845391,185803,1074641,2706103,1437164,2016
173,MARYLAND,2016,879196,14409321,823599,6334951,13992191,7779504,2016
174,MASSACHUSETTS,2016,921029,17484704,765043,6770086,17037880,9991819,2016
175,MICHIGAN,2016,1335713,19416061,1552824,10727785,18001445,9113469,2016
176,MINNESOTA,2016,811157,12186135,634332,7887346,12848946,6548885,2016
177,MISSISSIPPI,2016,486245,4755399,690724,2411621,4631356,2407637,2016
178,MISSOURI,2016,891554,10893231,924655,4568867,10719882,5488433,2016
179,MONTANA,2016,145240,1800909,220340,840804,1879789,973199,2016
180,NEBRASKA,2016,315542,4398811,346826,1437048,4640422,2526973,2016
181,NEVADA,2016,441623,4482886,401323,2816911,4374249,2288790,2016
182,NEW_HAMPSHIRE,2016,179682,3150473,169166,1004753,3124778,1743022,2016
183,NEW_JERSEY,2016,1364473,30012666,1187430,11681799,29665476,15831343,2016
184,NEW_MEXICO,2016,319861,3765069,506995,2591444,3729397,1733158,2016
185,NEW_YORK,2016,2590945,66912661,3369803,27437593,68282026,43964520,2016
186,NORTH_CAROLINA,2016,1462036,13448045,1557900,8287126,14207389,8060544,2016
187,NORTH_DAKOTA,2016,108384,1788749,155453,985365,1963630,867650,2016
188,OHIO,2016,1595024,23766529,1680983,9277802,23352516,12247509,2016
189,OKLAHOMA,2016,672777,6103728,689756,2909651,6184152,3047217,2016
190,OREGON,2016,574252,7418055,582560,3861438,7501954,3834741,2016
191,PENNSYLVANIA,2016,1572593,31077289,1904293,11181046,30925177,16717308,2016
192,RHODE_ISLAND,2016,133856,2401541,175379,940989,2358654,1340088,2016
193,SOUTH_CAROLINA,2016,743320,9161667,840786,4262164,9187299,4274682,2016
194,SOUTH_DAKOTA,2016,134045,1455737,196644,438629,1475864,730176,2016
195,TENNESSEE,2016,999265,9585331,1095415,4395757,9680512,5401812,2016
196,TEXAS,2016,5053291,58284155,5953348,22004299,59314884,27862199,2016
197,UTAH,2016,580215,4952923,394060,2533573,4923657,2591600,2016
198,VERMONT,2016,87974,2112365,111891,1614518,2082696,1013209,2016
199,VIRGINIA,2016,1283493,16259274,1058146,6297587,16497520,8944614,2016
200,WASHINGTON,2016,1083973,14964364,1097684,9211201,15253296,7087365,2016
201,WEST_VIRGINIA,2016,276764,3391579,358068,1863062,3366566,1804235,2016
202,WISCONSIN,2016,857736,11697466,782610,5986763,11787535,5760418,2016
203,WYOMING,2016,94511,2044669,123012,1175899,2034229,921494,2016

In [33]:
filteredstates.to_csv(r'C:\Users\kq921\Project-2\File Name.csv', index = False)